<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>BukSu - CRS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/terms.css"> -->

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="/css/main-page.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/home">CRS</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#why-us">About</a></li>
          <li><a class="nav-link scrollto " href="/logout" onclick="signOut()">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://buksu.edu.ph/" class="website"><i class="bi bi-globe2"></i></a>
        <a href="" class="facebook"><i class="bi bi-facebook"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>BUKSU -<br> Course Recommendation System<span> (CRS)</span></h2>
          <div>
            <a href="/instructions" class="btn-get-started scrollto">Get Recommendations</a>
          </div>
        </div>

        <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="/img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <!-- <section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>What is a CRS?</h2>
      </div>

      <div class="row content">
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="150">
          <p>
            The primary objective of the researchers is to develop a Web-based Course Recommendation System that will assist incoming BukSU freshmen students in deciding which degree program to pursue by providing them with options for possible degree programs based on the processed response generated by the system.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section> -->
    <!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <!-- <section id="why-us" class="why-us">
      <div class="container-fluid" data-aos="fade-up">

        <header class="section-header">
          <h3 style="font-size: 2.5rem;">About the System?</h3s>
          <br>
          <br>
        </header>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="why-us-img">
              <img src="/img/system-about.png" alt="" class="img-fluid" style="width: 500px; height: 500px;">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content" style="font-size: 1.5rem;">
              <p>The system mainly helps with student’s enrollment decisions. More specifically, it provides recommendation of selective and optional courses with respect to students’ skills, knowledge and interests. </p>
             

              <div class="features clearfix" data-aos="fade-up" data-aos-delay="100">
                <i class=" bi bi-card-checklist" style="color: #f058dc;"></i>
                <h4>Recommends course Base On Interest</h4>
                <p style="font-size: 1.5rem; margin-top: 20px; ">A recommender system designed for BukSU students to provide personalized reports filtering information for preferred course interests.This also serves as a guide and suggestion basis that narrows down possible course choices based on the analyzed data and chosen interests.</p>

            </div>

          </div>

        </div>

      </div>

    </section>End Why Us Section -->

    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="why-us-img">
              <img src="/img/system-about.png" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <header class="section-header">
              <h2>About the System</h2>
            </header>

            <div class="why-us-content">
              <p>The system helps students make informed enrollment decisions by providing recommendations for selective
                and optional courses based on their skills, knowledge, and interests. </p>

              <div class="features">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-card-checklist" style="color: #f058dc;"></i>
                  <h3>Personalized Course Recommendations</h3>
                  <p>A recommender system designed for BukSU students to provide personalized reports filtering
                    information for preferred course interests. This also serves as a guide and suggestion basis that
                    narrows down possible course choices based on the analyzed data and chosen interests.</p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="150">
                  <i class="bi bi-save" style="color: #ffb774;"></i>
                  <h3>Save Results</h3>
                  <p>Results can be sent through email to have a copy of the report.</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>


    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <header class="section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="/img/testimonial-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>BSIT - Freshmen</h4>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam velit nisi aut sunt ipsa deserunt! Sapiente temporibus, aliquid quod dolore odio iusto accusamus aperiam necessitatibus corporis incidunt optio nostrum inventore.
                    </p>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="/img/testimonial-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>BSIT - Freshmen</h4>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam velit nisi aut sunt ipsa deserunt! Sapiente temporibus, aliquid quod dolore odio iusto accusamus aperiam necessitatibus corporis incidunt optio nostrum inventore.
                    </p>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="/img/testimonial-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>BSBA - Freshmen</h4>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ducimus veritatis ad molestias aliquid sint atque, debitis nobis repudiandae officiis pariatur! Ut dolorum neque molestiae blanditiis repellendus in provident fuga.
                    </p>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <img src="/img/testimonial-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>BSIT - Freshmen</h4>
                    <p>
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis facilis, molestiae atque ratione ipsum veritatis impedit sed illum nihil non, odit consequatur ea hic assumenda voluptatibus sapiente at, beatae totam!
                  </div>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Testimonials Section -->

    <!-- Button trigger modal -->
    <!-- Feedback Modal-->
    <!-- <a href="" class="comment d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#form"><img src="/img/message-solid.svg" alt="" ></a> -->

    <button id="popup" class="feedback-button" data-bs-toggle="modal" data-bs-target="#form">Feedback</button>

    <!-- The Modal -->
    <!-- <div id="myModal" class="modal">

      Modal content
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Terms and Conditions</h2>
        <p>Last updated: 2023-09-03</p>
        <p>1. Introduction</p>
        <p>Welcome to BukSU CRS!</p>
        <p>These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located at
          192.168.254.105:5000 (together or individually “Service”) operated by Bukidnon State University.</p>
        <p>Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and
          disclose information that results from your use of our web pages.</p>
        <p>Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that
          you have read and understood Agreements, and agree to be bound of them.</p>
        <p>
          If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but
          please let us know by emailing at buksu.crs@gmail.com so we can try to find a solution. These Terms
          apply to all visitors, users and others who wish to access or use Service.
        </p>
        <p>2. Communications</p>
        <p>
          By using our Service, you agree to subscribe to newsletters, marketing or promotional materials and
          other information we may send. However, you may opt out of receiving any, or all, of these
          communications from us by following the unsubscribe link or by emailing at buksu.crs@gmail.com.
        </p>
        <p>4. Content</p>
        <p>Content found on or through this Service are the property of Bukidnon State University or used with
          permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said
          Content, whether in whole or in part, for commercial purposes or for personal gain, without express
          advance written permission from us.</p>
        <p>5. Prohibited Uses</p>
        <p>You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:
        </p>
        <p>0.1. In any way that violates any applicable national or international law or regulation.</p>
        <p>0.2. For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by
          exposing them to inappropriate content or otherwise.</p>
        <p>0.3. To transmit, or procure the sending of, any advertising or promotional material, including any “junk
          mail”, “chain letter,” “spam,” or any other similar solicitation.</p>
        <p>0.4. To impersonate or attempt to impersonate Company, a Company employee, another user, or any other
          person or entity.</p>
        <p>0.5. In any way that infringes upon the rights of others, or in any way is illegal, threatening,
          fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or
          activity.</p>
        <p>0.6. To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or
          which, as determined by us, may harm or offend Company or users of Service or expose them to liability.
        </p>
        <p>Additionally, you agree not to:</p>
        <p>0.1. Use Service in any manner that could disable, overburden, damage, or impair Service or interfere
          with any other party’s use of Service, including their ability to engage in real time activities through
          Service.</p>
        <p>0.2. Use any robot, spider, or other automatic device, process, or means to access Service for any
          purpose, including monitoring or copying any of the material on Service.</p>
        <p>0.3. Use any manual process to monitor or copy any of the material on Service or for any other
          unauthorized purpose without our prior written consent.</p>
        <p>0.4. Use any device, software, or routine that interferes with the proper working of Service.</p>
        <p>0.5. Introduce any viruses, trojan horses, worms, logic bombs, or other material which is malicious or
          technologically harmful.</p>
        <p>0.6. Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of Service, the
          server on which Service is stored, or any server, computer, or database connected to Service.</p>
        <p>0.7. Attack Service via a denial-of-service attack or a distributed denial-of-service attack.</p>
        <p>0.8. Take any action that may damage or falsify Company rating.</p>
        <p>0.9. Otherwise attempt to interfere with the proper working of Service.</p>
        <p>6. Analytics</p>
        <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
        <p>8. Intellectual Property</p>
        <p>Service and its original content (excluding Content provided by users), features and functionality are
          and will remain the exclusive property of Bukidnon State University and its licensors. Service is
          protected by copyright, trademark, and other laws of and foreign countries. Our trademarks may not be
          used in connection with any product or service without the prior written consent of Bukidnon State
          University.</p>
        <p>9. Copyright Policy</p>
        <p>We respect the intellectual property rights of others. It is our policy to respond to any claim that
          Content posted on Service infringes on the copyright or other intellectual property rights
          (“Infringement”) of any person or entity.</p>
        <p>
          If you are a copyright owner, or authorized on behalf of one, and you believe that the copyrighted work
          has been copied in a way that constitutes copyright infringement, please submit your claim via email to
          buksu.crs@gmail.com, with the subject line: “Copyright Infringement” and include in your claim a
          detailed description of the alleged Infringement as detailed below, under “DMCA Notice and Procedure for
          Copyright Infringement Claims”
        </p>
        <p>You may be held accountable for damages (including costs and attorneys’ fees) for misrepresentation or
          bad-faith claims on the infringement of any Content found on and/or through Service on your copyright.
        </p>
        <p>10. DMCA Notice and Procedure for Copyright Infringement Claims</p>
        <p>You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our
          Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
        </p>
        <p>0.1. an electronic or physical signature of the person authorized to act on behalf of the owner of the
          copyright’s interest;</p>
        <p>0.2. a description of the copyrighted work that you claim has been infringed, including the URL (i.e.,
          web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;
        </p>
        <p>0.3. identification of the URL or other specific location on Service where the material that you claim is
          infringing is located;</p>
        <p>0.4. your address, telephone number, and email address;</p>
        <p>0.5. a statement by you that you have a good faith belief that the disputed use is not authorized by the
          copyright owner, its agent, or the law;</p>
        <p>0.6. a statement by you, made under penalty of perjury, that the above information in your notice is
          accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</p>
        <p>
          You can contact our Copyright Agent via email at buksu.crs@gmail.com
        </p>
        <p>11. Error Reporting and Feedback</p>
        <p>
          You may provide us either directly at buksu.crs@gmail.com or via third party sites and tools with
          information and feedback concerning errors, suggestions for improvements, ideas, problems, complaints,
          and other matters related to our Service (“Feedback”). You acknowledge and agree that: (i) you shall not
          retain, acquire or assert any intellectual property right or other right, title or interest in or to the
          Feedback; (ii) Company may have development ideas similar to the Feedback; (iii) Feedback does not
          contain confidential information or proprietary information from you or any third party; and (iv)
          Company is not under any obligation of confidentiality with respect to the Feedback. In the event the
          transfer of the ownership to the Feedback is not possible due to applicable mandatory laws, you grant
          Company and its affiliates an exclusive, transferable, irrevocable, free-of-charge, sub-licensable,
          unlimited and perpetual right to use (including copy, modify, create derivative works, publish,
          distribute and commercialize) Feedback in any manner and for any purpose.
        </p>
        <p>13. Disclaimer Of Warranty</p>
        <p>THESE SERVICES ARE PROVIDED BY COMPANY ON AN “AS IS” AND “AS AVAILABLE” BASIS. COMPANY MAKES NO
          REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THEIR SERVICES, OR
          THE INFORMATION, CONTENT OR MATERIALS INCLUDED THEREIN. YOU EXPRESSLY AGREE THAT YOUR USE OF THESE
          SERVICES, THEIR CONTENT, AND ANY SERVICES OR ITEMS OBTAINED FROM US IS AT YOUR SOLE RISK.</p>
        <p>NEITHER COMPANY NOR ANY PERSON ASSOCIATED WITH COMPANY MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT
          TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY, OR AVAILABILITY OF THE SERVICES. WITHOUT
          LIMITING THE FOREGOING, NEITHER COMPANY NOR ANYONE ASSOCIATED WITH COMPANY REPRESENTS OR WARRANTS THAT
          THE SERVICES, THEIR CONTENT, OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL BE ACCURATE,
          RELIABLE, ERROR-FREE, OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT THE SERVICES OR THE SERVER
          THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE SERVICES OR ANY
          SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.</p>
        <p>COMPANY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY, OR OTHERWISE,
          INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR
          PARTICULAR PURPOSE.</p>
        <p>THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
        </p>
        <p>14. Limitation Of Liability</p>
        <p>EXCEPT AS PROHIBITED BY LAW, YOU WILL HOLD US AND OUR OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS HARMLESS
          FOR ANY INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGE, HOWEVER IT ARISES (INCLUDING
          ATTORNEYS’ FEES AND ALL RELATED COSTS AND EXPENSES OF LITIGATION AND ARBITRATION, OR AT TRIAL OR ON
          APPEAL, IF ANY, WHETHER OR NOT LITIGATION OR ARBITRATION IS INSTITUTED), WHETHER IN AN ACTION OF
          CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS ACTION, OR ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT,
          INCLUDING WITHOUT LIMITATION ANY CLAIM FOR PERSONAL INJURY OR PROPERTY DAMAGE, ARISING FROM THIS
          AGREEMENT AND ANY VIOLATION BY YOU OF ANY FEDERAL, STATE, OR LOCAL LAWS, STATUTES, RULES, OR
          REGULATIONS, EVEN IF COMPANY HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. EXCEPT AS
          PROHIBITED BY LAW, IF THERE IS LIABILITY FOUND ON THE PART OF COMPANY, IT WILL BE LIMITED TO THE AMOUNT
          PAID FOR THE PRODUCTS AND/OR SERVICES, AND UNDER NO CIRCUMSTANCES WILL THERE BE CONSEQUENTIAL OR
          PUNITIVE DAMAGES. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF PUNITIVE, INCIDENTAL OR
          CONSEQUENTIAL DAMAGES, SO THE PRIOR LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>
        <p>15. Termination</p>
        <p>We may terminate or suspend your account and bar access to Service immediately, without prior notice or
          liability, under our sole discretion, for any reason whatsoever and without limitation, including but
          not limited to a breach of Terms.</p>
        <p>If you wish to terminate your account, you may simply discontinue using Service.</p>
        <p>All provisions of Terms which by their nature should survive termination shall survive termination,
          including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
          liability.</p>
        <p>16. Governing Law</p>
        <p>These Terms shall be governed and construed in accordance with the laws of Phillipines, which governing
          law applies to agreement without regard to its conflict of law provisions.</p>
        <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those
          rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining
          provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us
          regarding our Service and supersede and replace any prior agreements we might have had between us
          regarding Service.</p>
        <p>17. Changes To Service</p>
        <p>We reserve the right to withdraw or amend our Service, and any service or material we provide via
          Service, in our sole discretion without notice. We will not be liable if for any reason all or any part
          of Service is unavailable at any time or for any period. From time to time, we may restrict access to
          some parts of Service, or the entire Service, to users, including registered users.</p>
        <p>18. Amendments To Terms</p>
        <p>We may amend Terms at any time by posting the amended terms on this site. It is your responsibility to
          review these Terms periodically.</p>
        <p>Your continued use of the Platform following the posting of revised Terms means that you accept and agree
          to the changes. You are expected to check this page frequently so you are aware of any changes, as they
          are binding on you.</p>
        <p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by
          the revised terms. If you do not agree to the new terms, you are no longer authorized to use Service.
        </p>
        <p>19. Waiver And Severability</p>
        <p>No waiver by Company of any term or condition set forth in Terms shall be deemed a further or continuing
          waiver of such term or condition or a waiver of any other term or condition, and any failure of Company
          to assert a right or provision under Terms shall not constitute a waiver of such right or provision.</p>
        <p>If any provision of Terms is held by a court or other tribunal of competent jurisdiction to be invalid,
          illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum
          extent such that the remaining provisions of Terms will continue in full force and effect.</p>
        <p>20. Acknowledgement</p>
        <p>BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF
          SERVICE AND AGREE TO BE BOUND BY THEM.</p>
        <p>21. Contact Us</p>
        <p>
          Please send your feedback, comments, requests for technical support by email: buksu.crs@gmail.com.
        </p>

      </div>

    </div> -->


      <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="text-right cross"> <i class="fa fa-times mr-2"></i> </div>
            <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
              <div class="comment-box text-center">
                <h4>Feedback</h4>
                <form action="/home-feedback" method="post">
                  <div class="comment-area"> <textarea class="form-control" name="userFeedback"
                      placeholder="Enter feedback..." rows="4" cols="80"></textarea> </div>

                  <div class="text-center mt-4"> <button class="btn btn-success send px-5">Send<i
                        class="fa fa-long-arrow-right ml-1"></i></button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main><!-- End #main -->



  <!-- ======= Footer ======= -->
  <!-- <footer id="footer" class="section-bg">

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2022. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer>End  Footer -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>BukSU CRS</strong>. All Rights Reserved
          </div>

        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#hero" class="scrollto">Home</a>
            <a href="#why-us" class="scrollto">About</a>
            <!-- <a href="#" id="myBtn">Terms and Conditions</a> -->
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <script>
    // Get the modal element
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

  </script>




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/front-end.page.js"></script>

</body>

</html>