<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />


  <!-- Custom CSS File -->
  <link href="/css/test-style.css" rel="stylesheet">


  <title>Aptitude Test</title>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/home">CRS</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="/logout" onclick="signOut()">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://buksu.edu.ph/" class="website"><i class="bi bi-globe2"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100063992682487" class="facebook"><i
            class="bi bi-facebook"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- <div class="main-container" id="quiz"></div> -->

  <section id="result" class="result section-bg">
    <div class="container" data-aos="fade-up" id="quiz"></div>
  </section>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Vendor JS Files -->

  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/front-end.page.js"></script>


  <script>

    $(function () {

      $(function () {
        let currentQuestion = 0;
        let questions = [];
        $(document).on("submit", "#form", function (e) {
          e.preventDefault();
          var data = $(this).serialize();
          console.log(data);
          $.post("/api/user/test-choice/value", data, function (response) {
            // console.log(response);

            currentQuestion += 1;
            if (currentQuestion < questions.length) {
              createquestion();
              checkIfRadioBtnIsSelected()
              
            } else {
              //navigate to final page 
              window.location.replace('/evaluation/')
              // currentQuestion-=1            
            }

          });
        });

        $.get("/api/test-data", function (result, status) {
          console.log(result);
          questions = result.data;
          console.log(questions.length)
          createquestion();
          checkIfRadioBtnIsSelected()
      

        });

        function checkIfRadioBtnIsSelected() {
              //get all the radio buttons
              var radios = document.querySelectorAll('input[type=radio]');
          //get only the checked radio button
          var checked = document.querySelectorAll('input[type=radio]:checked');
          //get the submit button
          var btn = document.querySelector('[type=submit]');
          //disable the button on page load by checking the length
          if (!checked.length) {
            btn.setAttribute("disabled", "disabled");
          }
          //attach the event handler to all the radio buttons with forEach and addEventListener
          radios.forEach(function (el) {
            el.addEventListener('click', function () {
              checked = document.querySelectorAll('input[type=radio]:checked');
              if (checked.length) {
                //enable the button by removing the attribute
                btn.removeAttribute("disabled");
              }
            });
          });
        }



        function createquestion() {
          $("#quiz").html(`
            <header class="section-header">
              <h2>${questions[currentQuestion].question}</h2>
            </header>
            <form id="form">
              <input type="hidden" name="id" value="${questions[currentQuestion]._id}">
              <div class="row g-5">
                <div class="col wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                  <div class="radio-buttons ">
                    <label class="custom-radio" for="choice1">
                      <input type="radio" name="answer" value="5" id="choice1" class="answer" />
                      <span class="radio-btn">
                        <i class="las la-check"></i>
                        <div class="hobbies-icon">
                          <img
                            src="https://img.icons8.com/external-colours-bomsymbols-/91/000000/external-awesome-hand-conversation-colours-colours-bomsymbols-.png" />
                          <h3 id="a_text">${questions[currentQuestion].choice1}</h3>
                        </div>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col" data-aos="zoom-in" data-aos-delay="200">
                  <div class="radio-buttons ">
                    <label class="custom-radio" for="choice2">
                      <input type="radio" name="answer" value="4" id="choice2" class="answer" />
                      <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                          <img
                            src="https://img.icons8.com/external-colours-bomsymbols-/91/000000/external-agree-hand-conversation-colours-colours-bomsymbols--2.png" />
                          <h3 id="b_text">${questions[currentQuestion].choice2}</h3>
                        </div>
                      </span>
                    </label>
                  </div>
                </div>
      
                <div class="col" data-aos="zoom-in" data-aos-delay="200">
                  <div class="radio-buttons ">
                    <label class="custom-radio" for="choice3">
                      <input type="radio" name="answer" value="3" id="choice3" class="answer" />
                      <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                          <img class="neutral" src="https://img.icons8.com/color/96/000000/neutral-emoticon--v1.png" />
                          <h3 id="c_text">${questions[currentQuestion].choice3}</h3>
                        </div>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col" data-aos="zoom-in" data-aos-delay="200">
                  <div class="radio-buttons ">
                    <label class="custom-radio" for="choice4">
                      <input type="radio" name="answer" value="2" id="choice4" class="answer" />
                      <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                          <img
                            src="https://img.icons8.com/external-colours-bomsymbols-/91/000000/external-bad-hand-conversation-colours-colours-bomsymbols-.png" />
                          <h3 id="d_text">${questions[currentQuestion].choice4}</h3>
                        </div>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col" data-aos="zoom-in" data-aos-delay="200">
                  <div class="radio-buttons ">
                    <label class="custom-radio" for="choice5">
                      <input type="radio" name="answer" value="1" id="choice5" class="answer" />
                      <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                          <img src="https://img.icons8.com/color/96/000000/ban-skin-type-1.png" />
                          <h3 id="e_text">${questions[currentQuestion].choice5}</h3>
                        </div>
                      </span>
                    </label>
                  </div>
                </div>
            </div>
            <div class="d-flex justify-content-center button-container">
              <button class="btn btn-lg  p-2 btn-primary" type="submit" id="submit"><span class="next-text">Next</span><i class="bi bi-arrow-right"></i></button>
            </div>
        </form>
          `);
        }
      });

    });

  </script>
</body>

</html>