<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/terms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="shortcut icon" href="/img/logo/favicon-32x32.png" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <!-- <script defer src="/js/client-side_validation.js"></script> -->

    <!--  Google recaptcha-->
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("form").submit();
        }
    </script> -->

    <script src="https://www.google.com/recaptcha/api.js?render=6LeWpR8lAAAAAG3z4f1BFqnohrHmny9YRQ3qdDj-"></script>
    <!-- reCAPTCHA -->
    <script>
        document.getElementById('registerBtn').addEventListener('click', function(e) {
            e.preventDefault();
            grecaptcha.execute('6LeWpR8lAAAAAG3z4f1BFqnohrHmny9YRQ3qdDj-', {action: 'register'}).then(function(token) {
                var form = document.getElementById('form');
                var input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'recaptcha_response');
                input.setAttribute('value', token);
                form.appendChild(input);
                form.submit();
            });
        });
    </script>

    <!-- <script>
        grecaptcha.ready(function() {
          grecaptcha.execute('6Lc1lB8lAAAAANfPXq4EJOJpTOGZ9ZMImerP3s-Q', {action: 'register'}).then(function(token) {
            var recaptchaResponse = document.getElementById('recaptchaResponse');
            recaptchaResponse.value = token;
          });
        });
      </script> -->
      <!-- <script>
        document.getElementById('registerBtn').addEventListener('click', function(e) {
          e.preventDefault();
          grecaptcha.ready(function() {
            grecaptcha.execute('6Lc1lB8lAAAAANfPXq4EJOJpTOGZ9ZMImerP3s-Q', {action: 'submit'}).then(function(token) {
              var form = document.getElementById('form');
              var input = document.createElement('input');
              input.setAttribute('type', 'hidden');
              input.setAttribute('name', 'token');
              input.setAttribute('value', token);
              form.appendChild(input);
              form.submit();
            });
          });
        });
      </script> -->
    <!-- <script src="https://www.google.com/recaptcha/enterprise.js?render=6LfXoh4lAAAAALOoyVIgRYf6lSpPE2jPmm-BJMAY" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("form").submit();
        }
    </script> -->

    <!-- <<script src="https://www.google.com/recaptcha/enterprise.js?render=6LfXoh4lAAAAALOoyVIgRYf6lSpPE2jPmm-BJMAY"></script>
    <script>
    grecaptcha.enterprise.ready(function() {
        grecaptcha.enterprise.execute('6LfXoh4lAAAAALOoyVIgRYf6lSpPE2jPmm-BJMAY', {action: 'login'}).then(function(token) {
            document.getElementById("form").submit();
        
        });
    });
    </script> -->

    <title>Sign Up</title>
</head>

<body>

    <img class="wave" src="/img/login_and_register/wave2.png">
    <div class="container">
        <div class="img">
            <img src="/img/login_and_register/bg.png" style="height: 500px; width: 600px;">
        </div>
        <div class="login-content">
            <form action="/register" method="post" id="form">
                <!-- <img src="/img/login_and_register/avatar.svg"> -->
                <h2 class="title">Register</h2>

                <div class="error-div">
                    <% if(err){ %>
                        <div class="error-container">
                            <p>
                                <%= msg%>
                            </p>

                        </div>

                     <% } else{ %>
                        <p></p>
                    <% } %>
                </div>


                <div class="input-div one form-control">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>First Name</h5>
                        <input class="input" type="name" name="firstName" id="firstName"  />
                    </div>
                </div>
                <div class="input-div one form-control">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Last Name</h5>
                        <input class="input" type="name" name="lastName" id="lastName" />
                    </div>
                </div>
                <div class="input-div one form-control">
                    <div class="i">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="div ">
                        <h5>Email</h5>
                        <input class="input" type="email" name="email" id="email" />
                    </div>
                </div>
                <div class="input-div one form-control">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div ">
                        <h5>Password</h5>
                        <input class="input" type="password" name="password" id="password" />
                    </div>
                </div>
                <div class="input-div one form-control">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div ">
                        <h5>Confirm Password</h5>
                        <input class="input" type="password" name="password2" id="password2" />
                    </div>
                </div>

                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="terms" name="terms" value="true ">
                        <label for="termCon" class="text">I accepted all <a href="#" id="myBtn">terms and
                                conditions</a></label>
                    </div>
                </div>

                <!-- <input type="submit" class="g-recaptcha btn" 
                    data-sitekey="6Lf3DvUjAAAAABlWt0K5f1E7sk7Vw6VUhBAa5WbQ" data-callback="onSubmit" type="submit"
                    value="Sign in"> -->
                    <!-- <button class="g-recaptcha btn" data-sitekey="6Lc1lB8lAAAAANfPXq4EJOJpTOGZ9ZMImerP3s-Q" data-callback="onSubmit" type="submit">Sign Up</button> -->
               
                    <button class="btn" id="registerBtn" type="submit">Sign Up</button>
                
                <div class="have-account">
                    <p>Already have an Account?<a id="sign-up" href="/">Sign up</a></p>
                </div>

            </form>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Terms and Conditions</h2>
            <p class="term-p">Last updated: 2023-09-03</p>
            <p class="term-p">1. Introduction</p>
            <p class="term-p">Welcome to BukSU CRS!</p>
            <p class="term-p">These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located at
                192.168.254.105:5000 (together or individually “Service”) operated by Bukidnon State University.</p>
            <p class="term-p">Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and
                disclose information that results from your use of our web pages.</p>
            <p class="term-p">Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that
                you have read and understood Agreements, and agree to be bound of them.</p>
            <p class="term-p">
                If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but
                please let us know by emailing at buksu.crs@gmail.com so we can try to find a solution. These Terms
                apply to all visitors, users and others who wish to access or use Service.
            </p>
            <p class="term-p">2. Communications</p>
            <p class="term-p">
                By using our Service, you agree to subscribe to newsletters, marketing or promotional materials and
                other information we may send. However, you may opt out of receiving any, or all, of these
                communications from us by following the unsubscribe link or by emailing at buksu.crs@gmail.com.
            </p>
            <p class="term-p">4. Content</p>
            <p class="term-p">Content found on or through this Service are the property of Bukidnon State University or used with
                permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said
                Content, whether in whole or in part, for commercial purposes or for personal gain, without express
                advance written permission from us.</p>
            <p class="term-p">5. Prohibited Uses</p>
            <p class="term-p">You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:
            </p>
            <p class="term-p">0.1. In any way that violates any applicable national or international law or regulation.</p>
            <p class="term-p">0.2. For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by
                exposing them to inappropriate content or otherwise.</p>
            <p class="term-p">0.3. To transmit, or procure the sending of, any advertising or promotional material, including any “junk
                mail”, “chain letter,” “spam,” or any other similar solicitation.</p>
            <p class="term-p">0.4. To impersonate or attempt to impersonate Company, a Company employee, another user, or any other
                person or entity.</p>
            <p class="term-p">0.5. In any way that infringes upon the rights of others, or in any way is illegal, threatening,
                fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or
                activity.</p>
            <p class="term-p">0.6. To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or
                which, as determined by us, may harm or offend Company or users of Service or expose them to liability.
            </p>
            <p class="term-p">Additionally, you agree not to:</p>
            <p class="term-p">0.1. Use Service in any manner that could disable, overburden, damage, or impair Service or interfere
                with any other party’s use of Service, including their ability to engage in real time activities through
                Service.</p>
            <p class="term-p">0.2. Use any robot, spider, or other automatic device, process, or means to access Service for any
                purpose, including monitoring or copying any of the material on Service.</p>
            <p class="term-p">0.3. Use any manual process to monitor or copy any of the material on Service or for any other
                unauthorized purpose without our prior written consent.</p>
            <p class="term-p">0.4. Use any device, software, or routine that interferes with the proper working of Service.</p>
            <p class="term-p">0.5. Introduce any viruses, trojan horses, worms, logic bombs, or other material which is malicious or
                technologically harmful.</p>
            <p class="term-p">0.6. Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of Service, the
                server on which Service is stored, or any server, computer, or database connected to Service.</p>
            <p class="term-p">0.7. Attack Service via a denial-of-service attack or a distributed denial-of-service attack.</p>
            <p class="term-p">0.8. Take any action that may damage or falsify Company rating.</p>
            <p class="term-p">0.9. Otherwise attempt to interfere with the proper working of Service.</p>
            <p class="term-p">6. Analytics</p>
            <p class="term-p">We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
            <p class="term-p">8. Intellectual Property</p>
            <p class="term-p">Service and its original content (excluding Content provided by users), features and functionality are
                and will remain the exclusive property of Bukidnon State University and its licensors. Service is
                protected by copyright, trademark, and other laws of and foreign countries. Our trademarks may not be
                used in connection with any product or service without the prior written consent of Bukidnon State
                University.</p>
            <p class="term-p">9. Copyright Policy</p>
            <p class="term-p">We respect the intellectual property rights of others. It is our policy to respond to any claim that
                Content posted on Service infringes on the copyright or other intellectual property rights
                (“Infringement”) of any person or entity.</p>
            <p class="term-p">
                If you are a copyright owner, or authorized on behalf of one, and you believe that the copyrighted work
                has been copied in a way that constitutes copyright infringement, please submit your claim via email to
                buksu.crs@gmail.com, with the subject line: “Copyright Infringement” and include in your claim a
                detailed description of the alleged Infringement as detailed below, under “DMCA Notice and Procedure for
                Copyright Infringement Claims”
            </p>
            <p class="term-p">You may be held accountable for damages (including costs and attorneys’ fees) for misrepresentation or
                bad-faith claims on the infringement of any Content found on and/or through Service on your copyright.
            </p>
            <p class="term-p">10. DMCA Notice and Procedure for Copyright Infringement Claims</p>
            <p class="term-p">You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our
                Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):
            </p>
            <p class="term-p">0.1. an electronic or physical signature of the person authorized to act on behalf of the owner of the
                copyright’s interest;</p>
            <p class="term-p">0.2. a description of the copyrighted work that you claim has been infringed, including the URL (i.e.,
                web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;
            </p>
            <p class="term-p">0.3. identification of the URL or other specific location on Service where the material that you claim is
                infringing is located;</p>
            <p class="term-p">0.4. your address, telephone number, and email address;</p>
            <p class="term-p">0.5. a statement by you that you have a good faith belief that the disputed use is not authorized by the
                copyright owner, its agent, or the law;</p>
            <p class="term-p">0.6. a statement by you, made under penalty of perjury, that the above information in your notice is
                accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</p>
            <p class="term-p">
                You can contact our Copyright Agent via email at buksu.crs@gmail.com
            </p>
            <p class="term-p">11. Error Reporting and Feedback</p>
            <p class="term-p">
                You may provide us either directly at buksu.crs@gmail.com or via third party sites and tools with
                information and feedback concerning errors, suggestions for improvements, ideas, problems, complaints,
                and other matters related to our Service (“Feedback”). You acknowledge and agree that: (i) you shall not
                retain, acquire or assert any intellectual property right or other right, title or interest in or to the
                Feedback; (ii) Company may have development ideas similar to the Feedback; (iii) Feedback does not
                contain confidential information or proprietary information from you or any third party; and (iv)
                Company is not under any obligation of confidentiality with respect to the Feedback. In the event the
                transfer of the ownership to the Feedback is not possible due to applicable mandatory laws, you grant
                Company and its affiliates an exclusive, transferable, irrevocable, free-of-charge, sub-licensable,
                unlimited and perpetual right to use (including copy, modify, create derivative works, publish,
                distribute and commercialize) Feedback in any manner and for any purpose.
            </p>
            <p class="term-p">13. Disclaimer Of Warranty</p>
            <p class="term-p">THESE SERVICES ARE PROVIDED BY COMPANY ON AN “AS IS” AND “AS AVAILABLE” BASIS. COMPANY MAKES NO
                REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THEIR SERVICES, OR
                THE INFORMATION, CONTENT OR MATERIALS INCLUDED THEREIN. YOU EXPRESSLY AGREE THAT YOUR USE OF THESE
                SERVICES, THEIR CONTENT, AND ANY SERVICES OR ITEMS OBTAINED FROM US IS AT YOUR SOLE RISK.</p>
            <p class="term-p">NEITHER COMPANY NOR ANY PERSON ASSOCIATED WITH COMPANY MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT
                TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY, OR AVAILABILITY OF THE SERVICES. WITHOUT
                LIMITING THE FOREGOING, NEITHER COMPANY NOR ANYONE ASSOCIATED WITH COMPANY REPRESENTS OR WARRANTS THAT
                THE SERVICES, THEIR CONTENT, OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL BE ACCURATE,
                RELIABLE, ERROR-FREE, OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT THE SERVICES OR THE SERVER
                THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE SERVICES OR ANY
                SERVICES OR ITEMS OBTAINED THROUGH THE SERVICES WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.</p>
            <p class="term-p">COMPANY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY, OR OTHERWISE,
                INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR
                PARTICULAR PURPOSE.</p>
            <p class="term-p">THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
            </p>
            <p class="term-p">14. Limitation Of Liability</p>
            <p class="term-p">EXCEPT AS PROHIBITED BY LAW, YOU WILL HOLD US AND OUR OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS HARMLESS
                FOR ANY INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGE, HOWEVER IT ARISES (INCLUDING
                ATTORNEYS’ FEES AND ALL RELATED COSTS AND EXPENSES OF LITIGATION AND ARBITRATION, OR AT TRIAL OR ON
                APPEAL, IF ANY, WHETHER OR NOT LITIGATION OR ARBITRATION IS INSTITUTED), WHETHER IN AN ACTION OF
                CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS ACTION, OR ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT,
                INCLUDING WITHOUT LIMITATION ANY CLAIM FOR PERSONAL INJURY OR PROPERTY DAMAGE, ARISING FROM THIS
                AGREEMENT AND ANY VIOLATION BY YOU OF ANY FEDERAL, STATE, OR LOCAL LAWS, STATUTES, RULES, OR
                REGULATIONS, EVEN IF COMPANY HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. EXCEPT AS
                PROHIBITED BY LAW, IF THERE IS LIABILITY FOUND ON THE PART OF COMPANY, IT WILL BE LIMITED TO THE AMOUNT
                PAID FOR THE PRODUCTS AND/OR SERVICES, AND UNDER NO CIRCUMSTANCES WILL THERE BE CONSEQUENTIAL OR
                PUNITIVE DAMAGES. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF PUNITIVE, INCIDENTAL OR
                CONSEQUENTIAL DAMAGES, SO THE PRIOR LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>
            <p class="term-p">15. Termination</p>
            <p class="term-p">We may terminate or suspend your account and bar access to Service immediately, without prior notice or
                liability, under our sole discretion, for any reason whatsoever and without limitation, including but
                not limited to a breach of Terms.</p>
            <p class="term-p">If you wish to terminate your account, you may simply discontinue using Service.</p>
            <p class="term-p">All provisions of Terms which by their nature should survive termination shall survive termination,
                including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
                liability.</p>
            <p class="term-p">16. Governing Law</p>
            <p class="term-p">These Terms shall be governed and construed in accordance with the laws of Phillipines, which governing
                law applies to agreement without regard to its conflict of law provisions.</p>
            <p class="term-p">Our failure to enforce any right or provision of these Terms will not be considered a waiver of those
                rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining
                provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us
                regarding our Service and supersede and replace any prior agreements we might have had between us
                regarding Service.</p>
            <p class="term-p">17. Changes To Service</p>
            <p class="term-p">We reserve the right to withdraw or amend our Service, and any service or material we provide via
                Service, in our sole discretion without notice. We will not be liable if for any reason all or any part
                of Service is unavailable at any time or for any period. From time to time, we may restrict access to
                some parts of Service, or the entire Service, to users, including registered users.</p>
            <p class="term-p">18. Amendments To Terms</p>
            <p class="term-p">We may amend Terms at any time by posting the amended terms on this site. It is your responsibility to
                review these Terms periodically.</p>
            <p class="term-p">Your continued use of the Platform following the posting of revised Terms means that you accept and agree
                to the changes. You are expected to check this page frequently so you are aware of any changes, as they
                are binding on you.</p>
            <p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by
                the revised terms. If you do not agree to the new terms, you are no longer authorized to use Service.
            </p>
            <p class="term-p">19. Waiver And Severability</p>
            <p class="term-p">No waiver by Company of any term or condition set forth in Terms shall be deemed a further or continuing
                waiver of such term or condition or a waiver of any other term or condition, and any failure of Company
                to assert a right or provision under Terms shall not constitute a waiver of such right or provision.</p>
            <p class="term-p">If any provision of Terms is held by a court or other tribunal of competent jurisdiction to be invalid,
                illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum
                extent such that the remaining provisions of Terms will continue in full force and effect.</p>
            <p class="term-p">20. Acknowledgement</p>
            <p class="term-p">BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF
                SERVICE AND AGREE TO BE BOUND BY THEM.</p>
            <p class="term-p">21. Contact Us</p>
            <p class="term-p">
                Please send your feedback, comments, requests for technical support by email: buksu.crs@gmail.com.
            </p>
            <div class="accept-decline-buttons">
                <button id="decline-btn">Decline</button>
                <button id="accept-btn">Accept</button>
            </div>
        </div>

    </div>

    <script>
        const inputs = document.querySelectorAll(".input");


        function addcl() {
            let parent = this.parentNode.parentNode;
            parent.classList.add("focus");
        }

        function remcl() {
            let parent = this.parentNode.parentNode;
            if (this.value == "") {
                parent.classList.remove("focus");
            }
        }


        inputs.forEach(input => {
            input.addEventListener("focus", addcl);
            input.addEventListener("blur", remcl);
        });

    </script>

    <script>
        // Get the modal element
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        const termsCheckbox = document.getElementById("terms")

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks on the accept button, close the modal
        document.getElementById("accept-btn").onclick = function () {
            termsCheckbox.checked = true;
            modal.style.display = "none";
            // Add your accept button logic here
        }

        // When the user clicks on the decline button, close the modal
        document.getElementById("decline-btn").onclick = function () {
            termsCheckbox.checked = false;
            modal.style.display = "none";
            // Add your decline button logic here
        }
    </script>




    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>