<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/instructions.css">

    <title>Instructions</title>
</head>

<body>

     <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/home">CRS</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="/logout" onclick="signOut()">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://buksu.edu.ph/" class="website"><i class="bi bi-globe2"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100063992682487" class="facebook"><i
            class="bi bi-facebook"></i></a>
      </div>

    </div>
  </header><!-- End Header -->
   <br>
   <br>
   <br>
   <br>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="headline1 text-center"
                        style="font-family: 'Rubik', sans-serif;font-weight:700;color:#000; margin-top:10px;">
                        Instructions
                    </h2>
                    <p class="guide-subtext text-center"
                        style="font-size: 1.2rem; font-family: 'Rubik', sans-serif;font-weight:400;color:#000;">You will be shown questions and asked to rate how much you agree with the questions.</p>
                    <br>
                </div>

                <div class="row">
                    <div class="col-md-3 inst-cont" style="font-family: 'Rubik', sans-serif;">
                        <div class="numberCircle">1</div>
                        <div class="cont1">
                            <center><b>Rate how much you agree or disagree with the following questions.</b></center>
                            <center><img src="img/inst-1.gif" 
                                    class="img-fluid img-guide"></center>
                        </div>
                    </div>
                    <div class="col-md-3 inst-cont" style="font-family: 'Rubik', sans-serif;">
                        <div class="numberCircle">2</div>
                        <div class="cont1">
                            <center><b>Tap Next to proceed.</b></center>
                            <center><img src="img/inst-2.gif" 
                                    class="img-fluid img-guide"></center>
                        </div>
                    </div>
                    <div class="col-md-3 inst-cont" style="font-family: 'Rubik', sans-serif;">
                        <div class="numberCircle">3</div>
                        <div class="cont1">
                            <center><b>After you've answered the questions, click "Evaluate Result."</b></center>
                            <center><img src="img/inst-3.gif" 
                                    class="img-fluid img-guide martopy"></center>
                        </div>
                    </div>
                    <div class="col-md-3 inst-cont text-center" style="font-family: 'Varela Round', sans-serif;">
                        <div >
                            <p class="guide-text1" style="font-family: 'Rubik', sans-serif;font-weight:700;color:#000;">
                                Are you ready to begin?</p>
                            <a href="/test" class="guide-text1_sub">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Vendor JS Files -->
    <script src="/vendor/purecounter/purecounter.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
     <!-- Template Main JS File -->
    <script src="/js/front-end.page.js"></script>
</body>

</html>